* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Times New Roman";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #445162;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  display: block;
  height: 42px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #445162;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
}

.header {
  background-color: #445162;
}

.header__info {
  padding-top: 50px;
  padding-bottom: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  line-height: 3.75rem;
  font-size: 3.75rem;
  color: #fff;
  margin-bottom: 51px;
}

.header__list-description {
  list-style-position: inside;
  color: white;
  font-size: 1.25rem;
}
.header__list-description li {
  padding-bottom: 1rem;
}

.header__list-description li:last-child {
  padding-bottom: 0;
}

.header__media {
  width: 471px;
  height: 216px;
  background-color: white;
}

/*about*/

.about__info {
  padding-top: 49px;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 6rem;
}

.about__title {
  text-align: start;
  margin-bottom: 30px;
}

.about__text {
  padding-bottom: 20px;
}

.about__media {
  background-color: #445162;
  width: 432px;
  height: 247px;
}

/*pluses*/

.pluses {
  background-color: #f5f5f5;
}

.pluses__info {
  padding: 50px 0;
}

.pluses__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
}
.list__item {
  background-image: url(image/plus-black-symbol_icon-icons.com_73453.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 2rem;
  background-size: 1.5rem;
}
.pluses__title {
  padding-bottom: 28px;
}
/*scrinshots*/

.scrinshots__info {
  padding: 51px 0;
}

.scrinshots__title {
  padding-bottom: 34px;
}

.scrinshot__works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2vw;
}

.scrinshot__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1vw;
}

.photo__name {
  font-size: 24px;
  color: #445162;
}

.scrinshots__media {
  background-color: #445162;
}

/*review*/

.reviews {
  background-color: #f5f5f5;
}

.reviews__info {
  padding: 50px 0;
}

.reviews__title {
  padding-bottom: 34px;
}

.reviews__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 31px;
}
.reviews-content {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px 1fr;
  column-gap: 15px;
}
.reviews__media {
  background-color: #445162;
  border-radius: 50%;
}
.reviews__description {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 15px;
  grid-row: 1/3;
  grid-column: 2/3;
}
.reviews__text {
  font-size: 14px;
  color: #445162;
  margin-bottom: 15px;
}
.reviews__person {
  font-size: 14px;
  color: #989898;
}

/*buy*/

.buy__info {
  padding: 50px 0;
}

.buy__title {
  margin-bottom: 29px;
}

.buy__cards {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 45px;
}

.card {
  background-color: #445162;
  flex-basis: 300px;
  border-radius: 5px;
  text-align: center;
}
.card__price {
  background-color: #fff;
  padding: 18px;
  font-size: 40px;
}
.card__title {
  color: #fff;
  padding: 16px;
  font-size: 24px;
}
.card__list {
  line-height: 20.3px;
  text-align: left;
  margin: 19px 38px 20px;
  list-style-position: outside;
  color: #fff;
  font-size: 14px;
}

.card__button {
  width: 87.3%;
  margin-bottom: 20px;
}

.button:hover {
  color: red;
  box-shadow: inset 0.5px 0.5px 10px rgba(68, 81, 98, 0.5);
}
/*footer*/

.contacts {
  background-color: #445162;
}

.contacts__info {
  padding: 50px;
}

.contacts__title {
  color: #fff;
  margin-bottom: 30px;
}

.contacts__kit {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 45px;
}

.form {
  width: 502px;
}

.name,
.email,
.textarea {
  width: 502px;
  border: none;
  font-family: inherit;
  display: block;
  font-size: 100%;
  border-radius: 5px;
  margin-bottom: 19px;
}

.name,
.email {
  height: 42px;
  padding-left: 10px;
}

.textarea {
  height: 172px;
  padding: 10px 10px;
}

.form__button {
  width: 142px;
}

.contacts-list {
  list-style: none;
  color: #fff;
  margin-bottom: 32px;
}

.contacts-list__item {
  line-height: 36px;
}

.contacts-list__skype {
  background-image: url(image/skype-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 2rem;
  background-size: 1.5rem;
}

.contacts-list__icq {
  background-image: url(image/icq-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 2rem;
  background-size: 1.5rem;
}

.contacts-list__email {
  background-image: url(image/email-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 2rem;
  background-size: 1.5rem;
}

.contacts-list__tel {
  background-image: url(image/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 2rem;
  background-size: 1.5rem;
}

.social-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.round-button:hover {
  background-color: gray;
  opacity: 0.5;
}

footer {
  margin-top: 5px;
  text-align: center;
}
